body {
    background-color: #F4E8C1;
}

#sections {
    position: relative;
    display: inline-block;
    width: 400px;
    top: 0px;
    z-index: 90;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
}

.step {
    margin-bottom: 200px;
}

.first {
    margin-bottom: 200px;
}

.header {
    font-size: large;
    text-decoration: underline;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: 600px;
    width: 600px;
    background-color: none;
}

#extra-space {
    height: 300px;
}