body {
    background-color: #F4E8C1;
    font-family: Arial, Helvetica, sans-serif;
}

#sections {
    position: relative;
    display: inline-block;
    width: 400px;
    top: 0px;
    z-index: 90;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
    overflow: hidden;
    position: relative;
}

.step {
    margin-bottom: 200px;
    font-size: larger;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0; /* Initially hide all sections */
    transition: opacity 1s ease-in-out;
}

.step.active {
    opacity: 1; /* Show the active section */
}

.first {
    margin-bottom: 200px;
}

.header {
    font-size: large;
    text-decoration: underline;
}

#vis {
    display: inline-block;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-left: 0;
    height: 600px;
    width: 600px;
    background-color: none;
}
/*
#extra-space {
    height: 300px;
}
*/

.year-2013 { color: #042498; }
.year-2014 { color: #e5960d; }
.year-2015 { color: #ce0404; }
.year-2016 { color: #39a2d3; }
.year-2017 { color: #0d7428; }
.year-2018 { color: #757710; }
.year-2019 { color: #49038a; }
.year-2020 { color: #eb23cd; }
.year-2021 { color: #72530e; }
.year-2022 { color: #7e8291; }
.year-2023 { color: #0a38e0; }
.year-2024 { color: #f37d08; }